.bar {
  fill: steelblue;
}
.bar:hover {
  fill: brown;
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}

.bigHeading {
	font-size: 30px;
}

.smallHeading {
	font-size: 18px;
}

.textBody {
	font-size: 14px;
}

#overview {
  float:left;
  margin: 5px;
}
#detail{
  float:left;
  margin: 5px;
}
#filter {
  float:left;
  margin: 5px;
}
